---
BasedOnStyle: Microsoft
PointerAlignment: Left
SortIncludes: true
Cpp11BracedListStyle: false
AllowShortLoopsOnASingleLine: true
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: true
SeparateDefinitionBlocks: Always
